/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
    }
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
body{
    background: url("bg.png") center 0;
    background-repeat: repeat-x;
}
.wrapper{
    width: 778px;
    margin: 0 auto;
    overflow: hidden;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header{
    overflow: hidden;
    height: 163px;
    border-bottom: 1px solid #939598;
    margin: 0 0 25px;
}
.header img{
    position: absolute;
    top: 40px;
    display: block;
    width: 285px;
    height: 83px;
}
.header ul{
    margin: 71px 0 0;
    float: right;
}
.header ul li{
    float: left;
    list-style-type: none;
    padding: 0 25px;
}
.header ul li a{
    font-family: "Arial";
    font: 15px;
    color: #939597;
    text-decoration: none;
}
.blue{
    color: #45B7FA;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content{
    overflow: hidden;
    padding: 0 0 92px;
}
.content h1{
    padding: 35px 0 15px 0;
    font-family: "Arial";
    font-size: 26px;
    color: #000000;
    border-bottom: 1px solid #00A7FB;
}
.content p{
    font-family: "Arial";
    font-size: 14px;
    color: #444444;
    text-align: justify;
}
.content img{
    display: block;
    width: 527px;
    height: 180px;
    margin: 0 0 30px;
}
.content h2{
    color: #03A7FD;
    font-family: "Arial";
    font-size: 18px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.sidebar{
    width: 232px;
    float: left;
    margin: 0 20px 0 0;
}
.sidebar h3{
    color: #45B7FA;
    font-family: "Arial";
    font-size: 20px;
    font-weight: normal;
    float: left;
    margin: 0 0 26px;
    line-height: 20px;
}
.sidebar h3 span{
    display: block;
    width: 12px;
    height: 10px;
    background: url("down.png") no-repeat;
    float: right;
    margin: 5px 0 0 10px;
}
.sidebar ul{
    clear: both;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li{
    border-bottom: 1px solid #939598;

}
.sidebar ul li a{
    display: block;
    padding: 9px 0 9px 21px;
    text-decoration: none;
    font-family: "Arial";
    font-size: 12px;
    color: #7B7C7C;
    background: url("right.png") 0 center no-repeat;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer{
    clear: both;
    border-top: 1px solid #939598;
    font-family: "Arial";
    font-size: 10px;
    color: #77797B
}
.footer a{
    text-decoration: none;
    color: #000000;
    font-family: "Arial";
    font-size: 10px;
    font-weight: bold;
}